body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-91px;
  width:1815px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:51px;
  width:127px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5666_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:867px;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:74px;
  width:400px;
  height:867px;
  display:flex;
}
#u5667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:867px;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:63px;
  width:400px;
  height:867px;
  display:flex;
}
#u5668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:597px;
  width:129px;
  height:123px;
  display:flex;
}
#u5669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:546px;
  width:226px;
  height:20px;
  display:flex;
  font-size:16px;
  color:#F0F2F5;
}
#u5670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:24px;
  background:inherit;
  background-color:rgba(14, 11, 4, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F0F2F5;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:574px;
  width:228px;
  height:24px;
  display:flex;
  font-size:16px;
  color:#F0F2F5;
}
#u5671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 188, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:633px;
  width:186px;
  height:40px;
  display:flex;
  font-size:20px;
}
#u5672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(125, 102, 33, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFF852;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:672px;
  width:57px;
  height:16px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFF852;
}
#u5673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:684px;
  width:310px;
  height:30px;
  display:flex;
}
#u5674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:689px;
  width:101px;
  height:20px;
  display:flex;
  color:#F2F2F2;
}
#u5675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5675_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:35px;
  width:109px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5676_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:314px;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:950px;
  width:845px;
  height:304px;
  display:flex;
  font-size:18px;
}
#u5677 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:68px;
  width:884px;
  height:1182px;
}
#u5678_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:1182px;
  overflow:auto;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5680_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:68px;
  height:7px;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:674px;
  width:64px;
  height:3px;
  display:flex;
}
#u5680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5681_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:687px;
  width:23px;
  height:23px;
  display:flex;
}
#u5681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5682_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:68px;
  height:7px;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:694px;
  width:64px;
  height:3px;
  display:flex;
}
#u5682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5683_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:664px;
  width:23px;
  height:23px;
  display:flex;
}
#u5683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5684_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:589px;
  width:23px;
  height:23px;
  display:flex;
}
#u5684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5685_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:333px;
  width:23px;
  height:23px;
  display:flex;
}
#u5685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5686_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:180px;
  height:5px;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:343px;
  width:177px;
  height:2px;
  display:flex;
}
#u5686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5687_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:100px;
  height:5px;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:317px;
  width:97px;
  height:2px;
  display:flex;
}
#u5687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5688_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:307px;
  width:23px;
  height:23px;
  display:flex;
}
#u5688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5689_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:563px;
  width:23px;
  height:23px;
  display:flex;
}
#u5689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5690_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:157px;
  height:5px;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:573px;
  width:154px;
  height:2px;
  display:flex;
}
#u5690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5691_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u5691 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:647px;
  width:23px;
  height:23px;
  display:flex;
}
#u5691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5692_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:157px;
  height:5px;
}
#u5692 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:657px;
  width:154px;
  height:2px;
  display:flex;
}
#u5692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5693_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u5693 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:684px;
  width:23px;
  height:23px;
  display:flex;
}
#u5693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5694_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:157px;
  height:5px;
}
#u5694 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:694px;
  width:154px;
  height:2px;
  display:flex;
}
#u5694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
