body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-91px;
  width:1815px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3142 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:51px;
  width:127px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:867px;
}
#u3143 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:74px;
  width:400px;
  height:867px;
  display:flex;
}
#u3143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:867px;
}
#u3144 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:63px;
  width:400px;
  height:867px;
  display:flex;
}
#u3144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3145 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:597px;
  width:129px;
  height:123px;
  display:flex;
}
#u3145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
}
#u3146 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:546px;
  width:226px;
  height:20px;
  display:flex;
  font-size:16px;
  color:#F0F2F5;
}
#u3146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:24px;
  background:inherit;
  background-color:rgba(14, 11, 4, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#F0F2F5;
}
#u3147 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:574px;
  width:228px;
  height:24px;
  display:flex;
  font-size:16px;
  color:#F0F2F5;
}
#u3147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 188, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3148 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:633px;
  width:186px;
  height:40px;
  display:flex;
  font-size:20px;
}
#u3148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(125, 102, 33, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFF852;
}
#u3149 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:672px;
  width:57px;
  height:16px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFF852;
}
#u3149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u3150 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:684px;
  width:310px;
  height:30px;
  display:flex;
}
#u3150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u3151 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:689px;
  width:101px;
  height:20px;
  display:flex;
  color:#F2F2F2;
}
#u3151 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3151_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3152 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:35px;
  width:109px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3152_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:314px;
}
#u3153 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:950px;
  width:845px;
  height:304px;
  display:flex;
  font-size:18px;
}
#u3153 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3154 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:68px;
  width:884px;
  height:1182px;
}
#u3154_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:1182px;
  overflow:auto;
}
#u3155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3156_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:68px;
  height:7px;
}
#u3156 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:674px;
  width:64px;
  height:3px;
  display:flex;
}
#u3156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3157_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u3157 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:687px;
  width:23px;
  height:23px;
  display:flex;
}
#u3157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3158_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:68px;
  height:7px;
}
#u3158 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:694px;
  width:64px;
  height:3px;
  display:flex;
}
#u3158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3159_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u3159 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:664px;
  width:23px;
  height:23px;
  display:flex;
}
#u3159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3160_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u3160 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:589px;
  width:23px;
  height:23px;
  display:flex;
}
#u3160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3161_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u3161 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:333px;
  width:23px;
  height:23px;
  display:flex;
}
#u3161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3162_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:180px;
  height:5px;
}
#u3162 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:343px;
  width:177px;
  height:2px;
  display:flex;
}
#u3162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3163_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:100px;
  height:5px;
}
#u3163 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:317px;
  width:97px;
  height:2px;
  display:flex;
}
#u3163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3164_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u3164 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:307px;
  width:23px;
  height:23px;
  display:flex;
}
#u3164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3165_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u3165 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:563px;
  width:23px;
  height:23px;
  display:flex;
}
#u3165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3166_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:157px;
  height:5px;
}
#u3166 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:573px;
  width:154px;
  height:2px;
  display:flex;
}
#u3166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3167_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u3167 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:647px;
  width:23px;
  height:23px;
  display:flex;
}
#u3167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3168_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:157px;
  height:5px;
}
#u3168 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:657px;
  width:154px;
  height:2px;
  display:flex;
}
#u3168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3169_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:33px;
}
#u3169 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:684px;
  width:23px;
  height:23px;
  display:flex;
}
#u3169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3170_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:157px;
  height:5px;
}
#u3170 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:694px;
  width:154px;
  height:2px;
  display:flex;
}
#u3170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
