body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-99px;
  width:1105px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:1326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4527 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:77px;
  width:1105px;
  height:1326px;
  display:flex;
}
#u4527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4528 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:96px;
  width:121px;
  height:28px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4528_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4529 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:95px;
  width:14px;
  height:14px;
  display:flex;
}
#u4529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4529_img.selected {
}
#u4529.selected {
}
#u4529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1106px;
  height:2px;
}
#u4530 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:129px;
  width:1105px;
  height:1px;
  display:flex;
}
#u4530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4533 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:282px;
  width:29px;
  height:20px;
  display:flex;
}
#u4533 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4533_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4534 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:277px;
  width:556px;
  height:26px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4535 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:282px;
  width:36px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4535_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4536 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:151px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4536_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:2px;
}
#u4537 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:421px;
  width:828px;
  height:1px;
  display:flex;
}
#u4537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4540 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:195px;
  width:62px;
  height:20px;
  display:flex;
}
#u4540 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4540_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4541 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:192px;
  width:556px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4542 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:197px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4542 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4542_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4543 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:385px;
  width:116px;
  height:37px;
  display:flex;
}
#u4543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4544 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:385px;
  width:122px;
  height:37px;
  display:flex;
}
#u4544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:928px;
}
#u4545 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:387px;
  width:1px;
  height:927px;
  display:flex;
}
#u4545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:897px;
}
#u4546 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:421px;
  width:1px;
  height:896px;
  display:flex;
  -webkit-transform:rotate(0.0134849291765777deg);
  -moz-transform:rotate(0.0134849291765777deg);
  -ms-transform:rotate(0.0134849291765777deg);
  transform:rotate(0.0134849291765777deg);
}
#u4546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4549 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:323px;
  width:62px;
  height:20px;
  display:flex;
}
#u4549 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4549_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4550_input {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4550_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
}
#u4550 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:319px;
  width:556px;
  height:25px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u4550 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4550_img.disabled {
}
#u4550.disabled {
}
.u4550_input_option {
  font-size:12px;
}
#u4551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4553 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:239px;
  width:62px;
  height:20px;
  display:flex;
}
#u4553 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4553_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4554_input {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4554_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
}
#u4554 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:235px;
  width:556px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u4554 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4554_img.disabled {
}
#u4554.disabled {
}
.u4554_input_option {
  font-size:14px;
}
#u4555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1047px;
  height:871px;
}
#u4555 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:436px;
  width:1047px;
  height:871px;
  display:flex;
}
#u4555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:2px;
}
#u4556 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1316px;
  width:1067px;
  height:1px;
  display:flex;
}
#u4556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:59px;
}
#u4557 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:1326px;
  width:274px;
  height:59px;
  display:flex;
}
#u4557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
