body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-161px;
  width:605px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:646px;
}
#u5837 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:102px;
  width:605px;
  height:646px;
  display:flex;
}
#u5837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 54, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5838 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:526px;
  width:62px;
  height:18px;
  display:flex;
}
#u5838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 54, 62, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5839 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:526px;
  width:62px;
  height:18px;
  display:flex;
}
#u5839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.674509803921569);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5840 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:495px;
  width:107px;
  height:54px;
  display:flex;
}
#u5840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.674509803921569);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5841 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:495px;
  width:106px;
  height:54px;
  display:flex;
}
#u5841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
