body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-99px;
  width:1107px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:1593px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:104px;
  width:1105px;
  height:1593px;
  display:flex;
}
#u4852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u4853 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:117px;
  width:121px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u4853 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4853_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4854 {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:122px;
  width:14px;
  height:14px;
  display:flex;
}
#u4854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4854_img.selected {
}
#u4854.selected {
}
#u4854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1106px;
  height:2px;
}
#u4855 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:156px;
  width:1105px;
  height:1px;
  display:flex;
}
#u4855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4858 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:309px;
  width:29px;
  height:20px;
  display:flex;
}
#u4858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4858_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4859 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:304px;
  width:556px;
  height:26px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4860 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:309px;
  width:36px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4860 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4860_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4862 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:542px;
  width:62px;
  height:20px;
  display:flex;
}
#u4862 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4862_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4863 label {
  left:0px;
  width:100%;
}
#u4863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u4863 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:542px;
  width:38px;
  height:18px;
  display:flex;
}
#u4863 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4863_img.selected {
}
#u4863.selected {
}
#u4863_img.disabled {
}
#u4863.disabled {
}
#u4863_img.selectedDisabled {
}
#u4863.selectedDisabled {
}
#u4863_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:22px;
  word-wrap:break-word;
  text-transform:none;
}
#u4863_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4864 label {
  left:0px;
  width:100%;
}
#u4864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u4864 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:543px;
  width:41px;
  height:18px;
  display:flex;
}
#u4864 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4864_img.selected {
}
#u4864.selected {
}
#u4864_img.disabled {
}
#u4864.disabled {
}
#u4864_img.selectedDisabled {
}
#u4864.selectedDisabled {
}
#u4864_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:25px;
  word-wrap:break-word;
  text-transform:none;
}
#u4864_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4867 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:579px;
  width:62px;
  height:20px;
  display:flex;
}
#u4867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4867_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4868 label {
  left:0px;
  width:100%;
}
#u4868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u4868 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:579px;
  width:78px;
  height:18px;
  display:flex;
}
#u4868 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4868_img.selected {
}
#u4868.selected {
}
#u4868_img.disabled {
}
#u4868.disabled {
}
#u4868_img.selectedDisabled {
}
#u4868.selectedDisabled {
}
#u4868_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:62px;
  word-wrap:break-word;
  text-transform:none;
}
#u4868_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4869 label {
  left:0px;
  width:100%;
}
#u4869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u4869 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:579px;
  width:76px;
  height:18px;
  display:flex;
}
#u4869 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4869_img.selected {
}
#u4869.selected {
}
#u4869_img.disabled {
}
#u4869.disabled {
}
#u4869_img.selectedDisabled {
}
#u4869.selectedDisabled {
}
#u4869_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:60px;
  word-wrap:break-word;
  text-transform:none;
}
#u4869_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:615px;
  width:62px;
  height:20px;
  display:flex;
}
#u4874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4874_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:89px;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:615px;
  width:207px;
  height:89px;
  display:flex;
}
#u4876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4876_img.mouseOver {
}
#u4876.mouseOver {
}
#u4876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:636px;
  width:24px;
  height:15px;
  display:flex;
}
#u4877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:658px;
  width:94px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u4878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:178px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:500px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4885 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:952px;
  width:48px;
  height:16px;
  display:flex;
}
#u4885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4885_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:89px;
}
#u4887 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:952px;
  width:207px;
  height:89px;
  display:flex;
}
#u4887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4887_img.mouseOver {
}
#u4887.mouseOver {
}
#u4887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u4888 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:973px;
  width:24px;
  height:15px;
  display:flex;
}
#u4888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u4889 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:995px;
  width:94px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u4889 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:227px;
}
#u4890 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:530px;
  width:330px;
  height:227px;
  display:flex;
}
#u4890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:2px;
}
#u4891 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:479px;
  width:828px;
  height:1px;
  display:flex;
}
#u4891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:2px;
}
#u4892 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:832px;
  width:1047px;
  height:1px;
  display:flex;
}
#u4892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:774px;
  width:61px;
  height:20px;
  display:flex;
}
#u4896 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4896_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:776px;
  width:12px;
  height:12px;
  display:flex;
}
#u4897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4898_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4898_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:770px;
  width:259px;
  height:25px;
  display:flex;
  font-size:12px;
}
#u4898 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4898_img.disabled {
}
#u4898.disabled {
}
.u4898_input_option {
  font-size:12px;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:729px;
  width:61px;
  height:20px;
  display:flex;
}
#u4900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:724px;
  width:550px;
  height:26px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4902 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:862px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4902 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4904 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:906px;
  width:34px;
  height:20px;
  display:flex;
}
#u4904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4905 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:901px;
  width:555px;
  height:26px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4907 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1071px;
  width:29px;
  height:20px;
  display:flex;
}
#u4907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4908 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1068px;
  width:100px;
  height:27px;
  display:flex;
}
#u4908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4909 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1068px;
  width:100px;
  height:27px;
  display:flex;
}
#u4909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4910 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1075px;
  width:12px;
  height:12px;
  display:flex;
}
#u4910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4911 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1115px;
  width:34px;
  height:20px;
  display:flex;
}
#u4911 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4911_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:406px;
}
#u4912 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:1115px;
  width:570px;
  height:406px;
  display:flex;
}
#u4912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:696px;
}
#u4913 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:906px;
  width:330px;
  height:696px;
  display:flex;
}
#u4913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:2px;
}
#u4914 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:1661px;
  width:1067px;
  height:1px;
  display:flex;
}
#u4914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4917 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:222px;
  width:62px;
  height:20px;
  display:flex;
}
#u4917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4918 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:219px;
  width:556px;
  height:26px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4919 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:224px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4920 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:729px;
  width:20px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4921 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:906px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4922 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:443px;
  width:116px;
  height:37px;
  display:flex;
}
#u4922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4923 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:443px;
  width:122px;
  height:37px;
  display:flex;
}
#u4923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1217px;
}
#u4924 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:445px;
  width:1px;
  height:1216px;
  display:flex;
}
#u4924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1185px;
}
#u4925 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:479px;
  width:1px;
  height:1184px;
  display:flex;
}
#u4925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4926 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:688px;
  width:137px;
  height:20px;
  display:flex;
  color:#7F7F7F;
}
#u4926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4927 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:1025px;
  width:137px;
  height:20px;
  display:flex;
  color:#7F7F7F;
}
#u4927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4927_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4931 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:396px;
  width:92px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4931 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4931_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4932 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:398px;
  width:12px;
  height:12px;
  display:flex;
}
#u4932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4933 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:388px;
  width:100px;
  height:32px;
  display:flex;
}
#u4933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4935 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1543px;
  width:61px;
  height:20px;
  display:flex;
}
#u4935 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4935_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4936 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1538px;
  width:550px;
  height:26px;
  display:flex;
  font-size:10px;
  color:#AAAAAA;
  text-align:left;
}
#u4936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4940 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1588px;
  width:61px;
  height:20px;
  display:flex;
}
#u4940 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4940_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4941 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:1590px;
  width:12px;
  height:12px;
  display:flex;
}
#u4941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4942_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
}
#u4942 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1584px;
  width:259px;
  height:25px;
  display:flex;
  font-size:12px;
}
#u4942 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4942_img.disabled {
}
#u4942.disabled {
}
.u4942_input_option {
  font-size:12px;
}
#u4943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4945 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:350px;
  width:62px;
  height:20px;
  display:flex;
}
#u4945 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4945_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4946_input {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4946_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
}
#u4946 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:346px;
  width:556px;
  height:25px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u4946 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4946_img.disabled {
}
#u4946.disabled {
}
.u4946_input_option {
  font-size:12px;
}
#u4947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4949 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:266px;
  width:62px;
  height:20px;
  display:flex;
}
#u4949 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4949_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4950_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:25px;
}
#u4950 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:262px;
  width:556px;
  height:25px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u4950 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4950_img.disabled {
}
#u4950.disabled {
}
.u4950_input_option {
  font-size:12px;
}
#u4951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:372px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u4951 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:388px;
  width:489px;
  height:372px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u4951 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4952 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1711px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
